@import "tailwindcss";

@theme {
  --color-brand-navy: #0f172a;
  --color-brand-blue: #1d4ed8;
  --color-brand-light: #f8fafc;
}

@layer base {
  body {
    @apply bg-brand-light text-slate-800 font-sans;
  }
}
